:root{
    --my-primaycolor: #1b72e8;
    --my-navlink: gray;
}
.bg-my-primary-color{
    background-color: var(--my-primaycolor);
}
.my-nav-link{
    color: var(--my-navlink);
}
.my-image{
    width: 100px;
}
.my-image-mobile{
    width: 40px;
}
.my-border{
    border: none;
}
.my-button:hover{
    cursor:not-allowed;
}
.my-img-avatar{
    width: 20px;
}
.my-done, .my-failed ,.my-process{
    padding: 3px 12px;
    border-radius: 10px;
    color: white;
}
.my-done{
    background-color: green;
}
.my-process{
    background-color: yellow;
}
.my-failed{
    background-color: red;
}
.my-button{
    background-color: white;
    border-radius: 4px;
    border-right: none;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.my-form{
    border-left: none;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.my-link{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.my-list{
    padding: 0;
}
